 .box {
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .white {
    height: 87px;
    width: 87px;
    background-color: white;
  }

  .black {
    height: 87px;
    width: 87px;
    background-color: black;
  }